.well
  %div{:role => "form"}
    = form_for @blog, :html => {:multipart => true} do |f|
      - if @blog.errors.any?
        #errors
          %h2= pluralize(@blog.errors.count, "error")
          %ul
            - @blog.errors.full_messages.each do |msg|
              %li= msg
      .form-group
        %h4 Title:
        = f.text_field :title, class: "form-control"
        .form-group
          %h4 Image:
          %br/
          =f.file_field :blogimg
      = f.submit class: "btn btn-primary"



