<% provide(:title, @blog.title) %>

<div class="container">

        <div class="row">
            <div class="col-lg-8">
                <h1><%= @blog.title %> 
                    <% if user_signed_in? %>    
                        <small><%= link_to 'Edit', edit_blog_path(@blog) %></small> 
                            <% end %>   

                       </h1>

                <p class="lead">
                    by <a href="#">Noname User</a>

                </p>
                <hr>
                <p><span class="glyphicon glyphicon-time"></span> Start blog <%= time_ago_in_words(@blog.created_at) %></p>

                <hr>

                <!-- Preview Image -->
    

                <%= render "posts/form" %>
                <hr>

                <!-- Posted Comments -->
			<%= render @blog.posts %>
                <!-- Comment -->
            </div>

</div>

