- provide(:title, @blog.title)
#blog_content
  %h1.title
    = @blog.title
  %p.date
    Submitted #{time_ago_in_words(@blog.created_at)} Ago
    - if user_signed_in?
      | #{link_to 'Edit', edit_blog_path(@blog)} |
      \#{link_to 'Delete', blog_path(@blog), method: :delete, data: { confirm: 'Are you sure?' }}
  #comments
    %h2
      = @blog.posts.count
      Post
    = render @blog.posts
    %h3 Add a post:
    = render "posts/form"  