<% provide(:title, @blog.title) %>

<div class="container">

        <div class="row">
            <div class="col-lg-8">
                <h1><%= @blog.title %></h1>

                <p class="lead">
                    by <a href="#">Noname User</a>
                </p>
                <hr>
                <p><span class="glyphicon glyphicon-time"></span> Posted <%= time_ago_in_words(@blog.created_at) %></p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">

                <hr>
                <%= render "posts/form" %>
                <hr>

                <!-- Posted Comments -->
			<%= render @blog.posts %>

                <!-- Comment -->
            </div>

<div class = "container">
		<% if user_signed_in? %>
		| <%= link_to 'Edit', edit_blog_path(@blog) %>&nbsp;|
		<%= link_to 'Delete', blog_path(@blog), method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</p>

</div>

