- provide(:title, @blog.title)
.container
  .row
    .col-lg-8
      %h1
        = @blog.title
        %small by #{@blog.user.full_name}
      %p.lead
      - if @blog.user == current_user
        %h4= link_to 'Edit', edit_blog_path(@blog)
      %hr/
      %p
        %span.glyphicon.glyphicon-time
        Start blog #{time_ago_in_words(@blog.created_at)}
      %hr/
      = image_tag(@blog.blogimg, class: 'img-responsive')
      %hr/
      / Posted Comments
      / - puts @blog.posts
      = render @blog.posts
      - if @blog.user == current_user
        = render "posts/form"      
