<% provide(:title, @blog.title) %>
<div id="blog_content">
	<h1 class="title">
		<%= @blog.title %>
	</h1>

	<p class="date">
		Submitted <%= time_ago_in_words(@blog.created_at) %> Ago
		<% if user_signed_in? %>
		| <%= link_to 'Edit', edit_blog_path(@blog) %>
		<%= link_to 'Delete', blog_path(@blog), method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</p>
<div id="comments">
		<h2><%= @blog.posts.count %> Post</h2>
		<%= render @blog.posts %>

		<h3>Add a post:</h3>
		<%= render "posts/form" %>
	</div>
</div>
