.well
  %h4 Title:
  = form_for(@post) do |f|
    %div{:role => "form"}
      - if @post.errors.any?
      = puts "Errors: #{@post.erros}"
        #errors
          %h2= pluralize(@post.errors.count, "error")
          %ul
            - @post.errors.full_messages.each do |msg|
              %li= msg
      .form-group
        = f.text_field :title, class: "form-control"
      %h4 Text:
      .form-group
        = f.text_area :body, class: "form-control"
      = f.submit class: "btn btn-primary"
