<div class="media">
                    <a class="pull-left" href="#">
                        <!-- <img class="media-object" src="http://placehold.it/64x64" alt=""> -->
                        <%= image_tag @blog.user.avatar.small %>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><%= post.title %>
                           <small><%= post.created_at %>
                           	<% if user_signed_in? %>	
                           		<%= link_to ' | Delete', [post.blog, post],
														  method: :delete,
														  class: "button",
														 	data: { confirm: 'Are you sure?' } %>

										<% end %>
										<br><%= post.body %>
							</small>
                        </h4>
       
						
                    </div>
                </div>

