!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      MyBlog | #{yield(:title)}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #sidebar
      #logo
        = link_to root_path do
          = image_tag "logo.svg"
      %ul
        %li.category Website
        %li= link_to "Blog", root_path
        %li= link_to "About", about_path
    #main_content
      #header
        = yield(:title)
        .buttons
          - if user_signed_in?
            %p= current_user.email
            %button.button= link_to "New blog", new_blog_path
            %button.button= link_to "Sign out", destroy_user_session_path, :method => :delete
          - else
            %button.button= link_to "Sign up", new_user_registration_path
            %button.button= link_to "Sign in", new_user_session_path
      - flash.each do |name, msg|
        = content_tag(:div, msg, class: "alert")
      = yield
