<!DOCTYPE html>
<html>
<head>
  <title>MyBlog | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %>
				<%= image_tag "logo.svg" %>
			<% end %>
		</div>

		<ul>
			<li class="category">Website</li>
			<li><%= link_to "Blog", root_path %></li>
			<li><%= link_to "About", about_path %></li>
			
		</ul>
		
	</div>

	<div id="main_content">
		<div id="header">
			<%= yield(:title) %>

			<div class="buttons">
				<% if user_signed_in? %>
					<p><%= current_user.email %></p>
					<button class="button"><%= link_to "New blog", new_blog_path %></button>
					<button class="button"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></button>
				<% else %>
					<button class="button"><%= link_to "Sign up", new_user_registration_path%></button>
					<button class="button"><%= link_to "Sign in", new_user_session_path%></button>
				<% end %>

			</div>
		</div>
			<% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "alert") %>
			<% end %>
		<%= yield %>

	</div>
</body>
</html>